[submodule "lib/rust-core"]
	path = lib/rust-core
	url = git@github.com:thestinger/rust-core.git
[submodule "lib/freescale"]
	path = lib/freescale
	url = git@github.com:bharrisau/cmsis-freescale.git
[submodule "lib/cmsis"]
	path = lib/cmsis
	url = git@github.com:bharrisau/CMSIS.git
[submodule "src/core"]
	path = src/core
	url = git@github.com:thestinger/rust-core.git
[submodule "lib/core"]
	path = lib/core
	url = git@github.com:thestinger/rust-core.git
